# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
